@use '~/comp/_colors' as c;
@use '~/comp/_mixins' as m;

div.data-viewer {
  @include m.card;

  & > div {
    padding: 1rem 1.5rem;
  }

  div.data-viewer__header,
  div.data-viewer__select-area,
  div.data-viewer__button-area {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
  }

  div.data-viewer__header {
    justify-content: space-between;

    div.data-viewer__select-area {
      max-width: 100%;

      div.select {
        flex-grow: 1;
        width: 10em;
      }
    }

    div.data-viewer__button-area {
      button {
        flex-grow: 1;
      }
    }
  }

  div.data-viewer__main {
    grid-column: 1;
    border-width: 1px 0;
    border-style: solid;
    border-color: c.$dark-blue-gray;

    p.data-viewer__placeholder {
      margin: 1rem 0;
      color: c.$davys-grey;
      text-align: center;
    }
  }

  div.data-viewer__footer {
    display: grid;
    grid-template-columns: 1fr auto 1fr;

    div.pagination {
      grid-column: 2;
    }
  }
}
