@use '~/comp/_colors' as c;
@use '~/comp/_mixins' as m;
@use '~/comp/_dimensions' as d;

button.simple-btn {
  @include m.interactive;
  @include m.protected-width;

  position: relative;
  padding: 0.5rem 1.75rem;
  color: c.$white;
  font-size: d.$fs-1;
  border-radius: 0.25rem;

  p {
    text-align: center;
  }

  &.primary {
    background-color: c.$blue;
  }

  &.danger {
    background-color: c.$pink;
  }

  &.pending {
    cursor: default;
    opacity: 0.5;

    &::after {
      position: absolute;
      margin: auto;
      content: '';
      inset: 0;

      @include m.spinner(c.$white, 1em, 0.1em);
    }

    p {
      visibility: hidden;
    }
  }

  &:disabled {
    background-color: c.$light-periwinkle;
  }
}
