@use '~/comp/_colors' as c;
@use '~/comp/_mixins' as m;

div.spinner {
  display: flex;
  justify-content: center;
  align-items: center;

  span.spinner__kernel {
    @include m.spinner(c.$blue, 3rem, 0.2rem);

    display: block;
  }
}
