@use '~/comp/_colors' as c;
@use '~/comp/_mixins' as m;
@use '~/comp/_dimensions' as d;

$icon-size: 0.6rem;

div.select {
  position: relative;

  button.select__toggle {
    @include m.interactive;

    display: flex;
    gap: 0.5rem;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0.5rem 0.5rem 0.5rem 0.75rem;
    font-size: d.$fs-1;
    border: 1px solid c.$lavender-gray;
    border-radius: 0.25rem;

    p {
      overflow: hidden;
      color: c.$roman-silver;
      text-wrap: nowrap;
      text-overflow: ellipsis;
    }

    svg {
      min-width: $icon-size;
      max-width: $icon-size;
      min-height: $icon-size;
      max-height: $icon-size;
    }
  }

  div.select__menu {
    position: absolute;
    z-index: 1;
    width: 100%;
    margin-top: 0.2rem;
    font-size: d.$fs-1;
    box-shadow: 0 0.25rem 0.5rem c.$shadow;

    button.select__clear-button {
      @include m.interactive(c.$light);
      @include m.protected-width;

      width: 100%;
      padding: 0.4rem 0.75rem;
      color: c.$police-blue;
      text-align: center;
      border-width: 1px;
      border-style: solid;
      border-color: c.$lavender-gray;
      border-radius: 0.25rem 0.25rem 0 0;
    }

    ul.select__list {
      max-height: 12rem;
      padding: 0.5rem 0;
      overflow-y: auto;
      background-color: c.$white;
      border-width: 1px;
      border-style: solid;
      border-color: c.$lavender-gray;
      border-top-style: none;
      border-radius: 0 0 0.25rem 0.25rem;

      li.select__option {
        @include m.interactive;
        @include m.protected-width;

        display: block;
        width: 100%;
        padding: 0.4rem 0.75rem;
        color: c.$police-blue;
  
        &.select__option-selected {
          color: c.$blue;
        }
      }
    }
  }

  &:not(.select-expanded) {
    div.select__menu {
      display: none;
    }
  }

  &.select-filled {
    button.select__toggle {
      p {
        color: c.$police-blue;
      }
    }
  }
}
