@use '~/comp/_colors' as c;
@use '~/comp/_dimensions' as d;
@use '~/assets/fonts/_families' as f;

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: inherit;
  font-family: f.$helvetica, sans-serif;
  outline: 0;
  -webkit-tap-highlight-color: transparent;
}

a {
  text-decoration: none;

  &:link, &:visited, &:hover, &:active {
    color: c.$blue;
  }
}

html,
body,
#root {
  min-height: 100dvh;
}

#root {
  display: grid;
  grid-template-rows: auto 1fr;
  background-color: c.$light;
}

main {
  grid-row: 2;
  min-height: 100%;
}

.gray {
  color: c.$davys-grey;
}

.police-blue {
  color: c.$police-blue;
}

.fs-1 {
  font-size: d.$fs-1;
}

.fs-2 {
  font-size: d.$fs-2;
}

.fs-3 {
  font-size: d.$fs-3;
}

.fs-4 {
  font-size: d.$fs-4;
}

button {
  background-color: transparent;
  border: 0;
  cursor: pointer;
}

div.page {
  min-height: inherit;
}

img {
  user-select: none;
  pointer-events: none;
}
