$white: #FFF;
$light: #F5F6F8;
$blue: #007BFF;
$davys-grey: #495057;
$police-blue: #3D5170;
$lavender-gray: #BECAD6;
$black-coral: #5A61691A;
$light-periwinkle: #CACEDB;
$shadow-blue: #818EA3;
$pink: #CB3656;
$green: #0EC261;
