$white: #fff;
$light: #f5f6f8;
$blue: #007bff;
$davys-grey: #495057;
$police-blue: #3d5170;
$lavender-gray: #becad6;
$shadow: #5a61691a;
$light-periwinkle: #cacedb;
$shadow-blue: #818ea3;
$pink: #cb3656;
$green: #0ec261;
$cadet-blue: #abb6bf;
$dark-blue-gray: #e1e5eb;
$roman-silver: #868e96;
$dark: #121212;
$dark-transparent: #12121219;
$black-coral: #69625a;
$bright-gray: #e9ecef;
