@use './colors' as c;

@mixin card {
  background-color: c.$white;
  border-radius: 1rem;
  box-shadow: 0 0.25rem 0.5rem c.$black-coral; 
}

@mixin spinner($color, $size, $width) {
  width: $size;
  height: $size;
  border-width: $width;
  border-style: solid;
  border-color: $color;
  border-bottom-color: transparent;
  border-radius: 50%;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
