@use './colors' as c;
@use '~/comp/_dimensions' as d;

@mixin card($border-radius: 0.75rem) {
  background-color: c.$white;
  border-radius: $border-radius;
  box-shadow: 0 0.25rem 0.5rem c.$black-coral; 
}

@mixin spinner($color, $size) {
  width: $size;
  height: $size;
  border-width: 0.1rem;
  border-style: solid;
  border-color: $color;
  border-bottom-color: transparent;
  border-radius: 50%;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@mixin safe-font-size($size: d.$fs-1) {
  font-size: max(1rem, $size);

  @media (min-width: d.$desktop-mini) {
    font-size: $size;
  }
}

@mixin interactive {
  &:hover {
    filter: brightness(90%);
  }

  &:active {
    filter: brightness(80%);
  }

  transition-duration: 0.2s;
  transition-property: filter;
}

@mixin on-non-mobile {
  @media (min-width: d.$tablet) {
    @content;
  }
}
