@use '~/comp/_colors' as c;
@use '~/comp/_dimensions' as d;
@use '~/comp/_mixins' as m;

$icon-size: 1.25rem;

div.text-input {
  display: flex;
  margin-top: 0.5rem;
  border-width: 1px;
  border-style: solid;
  border-color: c.$lavender-gray;
  border-radius: 0.25rem;

  &.invalid {
    border-color: c.$pink;
  }

  input {
    @include m.safe-font-size;

    width: 100%;
    padding: 0.5rem 0.75rem;
    background-color: transparent;
    border: 0;
    outline: 0;
  }

  & + p {
    margin: 0.2rem 0;
    color: c.$pink;

    &::after {
      white-space: pre;
      content: ' ';
    }
  }

  button {
    padding: 0 0.75rem;

    svg {
      width: $icon-size;
      height: $icon-size;
      fill: c.$police-blue;
    }
  }
}
