@use '~/comp/_colors' as c;
@use '~/comp/_mixins' as m;
@use '~/comp/_dimensions' as d;

$icon-size: 1.25rem;

div.text-input {
  display: flex;
  border: 1px solid c.$lavender-gray;
  border-radius: 0.25rem;

  &.text-input-invalid {
    border-color: c.$pink;
  }

  input {
    width: 100%;
    padding: 0.5rem 0.75rem;
    color: c.$police-blue;
    font-size: d.$fs-1;
    background-color: transparent;
    border: 0;
    outline: 0;
  }

  button {
    padding: 0 0.75rem;

    svg {
      width: $icon-size;
      height: $icon-size;
      fill: c.$police-blue;
    }
  }
}
