@use '~/comp/_mixins' as m;
@use '~/comp/_colors' as c;
@use '~/comp/_dimensions' as d;

form.auth-form {
  height: fit-content;
  
  div.auth-form__logo {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    align-items: center;
  }

  div.auth-form__body {
    @include m.card;

    margin-top: 1rem;
    
    div.auth-form__header {
      padding: 1.5rem;
      text-align: center;
    }
  
    div.auth-form__main {
      padding: 1rem 1rem 0;
    }
  
    div.auth-form__footer {
      display: flex;
      flex-wrap: wrap;
      gap: 0.5rem;
      align-items: center;
      padding: 0 1rem 1rem;
  
      a {
        flex: 1;
        font-size: d.$fs-1;
      }
    }
  }
}
