@use '../weight' as w;
@use '../families' as f;
@use 'sass:string';

$font-family: f.$helvetica;
$family: string.to-lower-case($font-family);

@font-face {
  font-weight: 400;
  font-family: $font-family;
  font-style: normal;
  src: url('#{$family}-#{w.$fw-400}.ttf') format('truetype');
}
